body
{
	background-color: #DDDDFF;
}

header
{
	background-color: #DDFFDD;
}

nav
{
	background-color: #F4B350;
}

section
{
	background-color: #FFDDDD;
}

footer
{
	background-color: #EEEEEE;
}

#epheclogo
{
	width : 15%;
	height : 15%;
}

.success_msg
{
	color : #26A65B;
}

.error_msg
{
	color : #CF000F;
}

.wrong_input
{
	border : 1px solid #ff0000;
}
