body
{
	background-color: #DDDDFF;
}

header
{
	background-color: #DDFFDD;
}

nav
{
	background-color: #F4B350;
	padding: 4px;
}

nav a
{
	margin : 4px;
}

section
{
	background-color: #FFDDDD;
	padding: 1%;
}

footer
{
	background-color: #EEEEEE;
}

form
{
	border: solid 1px black;
	padding: 1%;
}

.avatar
{
	float : right;
}
.badinput
{
	border : 1px solid red;
}

.correctinput
{
	border : 2px solid #14FA18;
}

.error_msg
{
	color : #FA1414;
}

.success_msg
{
	color : #14FA18;
}
